* {
  all: unset; //Unsets everything so you can style everything from scratch
}

// Variable Color's
$background: #1A1B26;
$foreground: #A9B1D6;

$black: #24283B;
$gray: #565F89;
$red: #F7768E;
$green: #73DACA;
$yellow: #E0AF68;
$blue: #7AA2F7;
$magenta: #BB9AF7;
$cyan: #7DCFFF;
$white: $foreground;
//Global Styles
.bar {
  background-color: $background;
  padding: 10px;
  border-radius: 0px;
}

.clock {
  background-color: $background;
  font-size: 20px;
}
// .first {
//   background-color: rgb(165, 190, 223);
//   color: #464040;
// }

// .second {
//   background-color: rgb(50, 80, 124);
//   color: #ebf1ff;
  // border-radius: 40px;
  // border-color: rgb(201, 255, 185);
  // border-width: 2px;
  // border-style: solid;
// }

.sliders {
  border-color: $green;
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  padding-right: 10px;
}

.audio-icon {
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: $magenta;
  // border-color: $magenta $background $magenta $magenta;
  // border-radius: 15px 0px 0px 15px;
  // border-style: solid;
  // border-width: 2px;
}

.bright-icon {
  font-size: 20px;
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: $yellow;
  // border-color: $magenta $background $magenta $magenta;
  // border-radius: 15px 0px 0px 15px;
  // border-style: solid;
  // border-width: 2px;
}

.brightbar highlight {
  background-color: $yellow;
  border-radius: 5px;
}

.volbar highlight {
  background-color: $magenta;
  border-radius: 5px;
}

scale {
  all: unset;
  background-color:$background;
  border-radius: 5px;
  min-height: 10px;
  min-width: 80px;
  margin: .3rem 0 .3rem 0;
}

trough {
  all: unset;
  background-color: $gray;
  border-radius: 5px;
  min-height: 10px;
  min-width: 80px;
  margin: .3rem 0 .3rem 0;
}