* {
  all: unset; //Unsets everything so you can style everything from scratch
}

// Variable Color's
$background: rgba(27, 28, 39, 0.5);
$background-layer: rgba(27, 28, 39, 0.5);
$foreground: #A9B1D6;

$black: #24283B;
$gray: #565F89;
$red: #F7768E;
$orange: #f8b359;
$green: #73DACA;
$yellow: #E0AF68;
$blue: #7AA2F7;
$magenta: #9d68ff;
$cyan: #7DCFFF;
$white: $foreground;

$workspace-fontsize: 23px;
$powermenu-icon-fontsize: 25px;

//Global Styles
.bar {
  background-color: $background;
  padding: 10px;
  border-radius: 5px;
}

.powermenu {
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: $magenta;
  padding-left: 20px;
  padding-right: 20px;
}

.power-profiles {
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: $cyan;
  padding-left: 5px;
}

.power-profiles > * {
  padding-left: 10px;
  padding-right: 15px;
  font-size: $workspace-fontsize;
}

.inactive {
  color: $gray;
}

.power-saver {
  color: $green;
}

.balanced {
  color: $cyan;
}

.performance {
  color: $yellow;
}

.workspace {
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: $green;
}

// unoccupied
.--- {
  color: $gray;
  font-size: $workspace-fontsize;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

// occupied
.-\30- , .-\31-, .-\32-, .-\33-, .-\34-, .-\35-, .-\36-, .-\37-, .-\38- {
  color: $magenta;
  font-size: $workspace-fontsize;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

// focused
.-\30 0 , .-\31 1, .-\32 2, .-\33 3, .-\34 4, .-\35 5, .-\36 6, .-\37 7, .-\38 8 {
  color: $green;
  font-size: $workspace-fontsize;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.--\30 , .--\31, .--\32, .--\33, .--\34, .--\35, .--\36, .--\37, .--\38  {
  color: $orange;
  font-size: $workspace-fontsize;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.shutdown {
  padding-left: 15px;
  font-size: $powermenu-icon-fontsize;
  font-weight: 900;
  color: $red;
}

.restart {
  font-size: $powermenu-icon-fontsize;
  font-weight: 900;
  color: $green;
}

.suspend {
  font-size: $powermenu-icon-fontsize;
  font-weight: 900;
  color: $yellow;
}

.lockscreen {
  font-size: $powermenu-icon-fontsize;
  font-weight: 800;
  color: $cyan;
  // padding-right: 10px;
}

.logout {
  font-size: 25px;
  font-weight: 900;
  color: $magenta;
  padding-right: 10px;
}

.clock {
  background-color: $background-layer;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 15px;
  font-size: 20px;
  font-family: 'Orbitron';
  font-weight:  700;
}

.separator {
  font-weight: 900;
}

.tasks > * {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.tasks {
  border-radius: 15px;
  margin-left: 1px;
}

.indicators {
  border-color: $green;
  border-width: 2px;
  border-style: solid;
  border-radius: 15px;
  padding-right: 18px;
  padding-left: 10px;
}

.bt-off {
  color: $gray;
  font-size: 20px;
}

.bt-on {
  color: $green;
  font-size: 20px;
}

.bt-battery {
  font-size: 17px;
  padding-left: 7px;
}

.wifi {
  color: $green;
  font-size: 20px;
}

.battery {
  border-color: $orange;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  padding-left: 10px;
}

.battery-icon {
  color: $orange;
  font-size: 20px;
}

.battery-percent {
  font-size: 17px;
  padding-right: 10px;

}

.sliders {
  border-color: $cyan;
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  padding-right: 10px;
}

.audio-icon {
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: $cyan;
}

.bright-icon {
  font-size: 20px;
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: $cyan;
}

.brightbar highlight {
  background-color: $cyan;
  border-radius: 5px;
}

.volbar highlight {
  background-color: $cyan;
  border-radius: 5px;
}

scale {
  all: unset;
  border-radius: 5px;
  min-height: 10px;
  min-width: 80px;
  margin: .3rem 0 .3rem 0;
}

trough {
  all: unset;
  background-color: $gray;
  border-radius: 5px;
  min-height: 10px;
  min-width: 80px;
  margin: .3rem 0 .3rem 0;
}